body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}
img{
  height: 60px;
}
.game{
  margin-right: 15px;
  margin-top: 25px;
  height: 120px;
  width: 120px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: rgb(25, 25, 25);
  cursor: pointer;
}
.result-display{
   font-size: 30px;
  font-weight: bold;
}
.reset{
  padding: 8px 15px;
  font-size: 15px;
  cursor: pointer;
}